In [1]:
from google.colab import drive

In [2]:
drive.mount('../content/drive')

Mounted at ../content/drive

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset=pd.read_csv('../content/drive/MyDrive/Colab Notebooks/bodyfat.csv')

In [5]:
dataset.head()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [10]:
df1=dataset.drop(['Density'],axis='columns')
df1.head()

,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [11]:
df1.shape

(252, 14)

In [12]:
df1.isnull().sum()

BodyFat    0
Age        0
Weight     0
Height     0
Neck       0
Chest      0
Abdomen    0
Hip        0
Thigh      0
Knee       0
Ankle      0
Biceps     0
Forearm    0
Wrist      0
dtype: int64

In [24]:
dummies=pd.get_dummies(df1.Age)
dummies

,22,23,24,25,26,27,28,29,30,31,...,64,65,66,67,68,69,70,72,74,81
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
df2=pd.concat([df1,dummies],axis='columns')
df2.head()

,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,...,64,65,66,67,68,69,70,72,74,81
0,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,...,0,0,0,0,0,0,0,0,0,0
1,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,...,0,0,0,0,0,0,0,0,0,0
2,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,...,0,0,0,0,0,0,0,0,0,0
3,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,...,0,0,0,0,0,0,0,0,0,0
4,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df2.Age.unique()

array([23, 22, 26, 24, 25, 27, 32, 30, 35, 34, 28, 33, 31, 29, 41, 49, 40,
       50, 46, 45, 44, 48, 39, 43, 47, 51, 42, 54, 58, 62, 61, 56, 57, 55,
       69, 81, 66, 67, 64, 70, 72, 53, 38, 52, 36, 37, 60, 63, 65, 68, 74])

In [27]:
x=df1.drop('Age', axis='columns')
x.shape

(252, 13)

In [28]:
y=df1['Age']
y.shape

(252,)

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=20)

In [30]:
from sklearn.linear_model import LogisticRegression
model2=LogisticRegression()
model2.fit(x_train,y_train)
model2.score(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.2736318407960199